body {
  font-family: sans-serif;
}

#demo-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 760px;
}
#geoMapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
}
#geoMap {
  height: 700px;
}
#geoOptions {
  margin-top: 50px;
  position: relative;
}
#geoTitle {
  text-align: center;
}
#geoUp {
  padding: 0 20px;
  position: absolute;
}
#geoUp a {
  cursor: pointer;
  padding-left: 40px;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

@media (max-width: 768px) {
  #demo-wrapper {
    width: auto;
    height: auto;
  }
  #geoMapBox {
    width: auto;
    float: none;
  }
  #geoMap {
    height: 310px;
  }
}

#geoMessage {
  background-color: #96A6A6;
  border-radius: 2px;
  box-shadow: 0 20px 30px -12px rgba(42,53,53,0.20);
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 1em 1.5em;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 9999 !important;
  transition-property: opacity, right;
  transition-duration: 0.3s;
}

#geoMessage.fade-out-me {
  opacity: 0;
  right: -100%;
}
